*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    color: white;
    background: linear-gradient(180deg, #005eff6c, #fe00b24d);
    background-repeat: no-repeat;
}
main{
    width: 100%;
    padding: 1rem;
}
.wrapper{
    max-width: 470px;
    margin: auto;
    font-family: sans-serif;
    overflow: hidden;
}
header{
    height: 5rem;
}
nav{
    padding: 1rem;
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background: rgba(255, 255, 255, 0.25);
}
.right button{
    background-color: inherit;
    border: none;
    margin-left: .5rem;
    transition: transform 0.3 ease, 0.3 ease;
    cursor: pointer;
}
button img:hover{
    transform: scale(1.2);
}
.left{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.left button{
    background: #312e3b;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: transform 0.3s ease;

}
.left button:hover{
    transform: scale(1.1);
}
.upperbody{
    width: 100%;
    margin-bottom: 4rem;
}
.selections{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.Basic-shapes{
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
li {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    margin: 0.3rem;
    border-radius: 12px;
    padding: .5rem 1rem;
    background-color: rgba(0, 0, 0, 0.607);
    font-weight: bold;
    transition: transform 0.3s ease;
}
li:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.379);
}
.title{
    border: 1px solid black;
    padding: 1rem;
    width: 100vw;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem;
    border-radius: 8px;
}
.Basic{
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-shadow: 2px 2px #2b42a0;
}
.Advance{
    background: linear-gradient(135deg, #6a00f4, #8e2de2, #4a00e0);
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    text-shadow: 2px 2px #340c4b;
}
.Premium{
    background: linear-gradient(135deg, #fceabb, #f8b500, #e09f3e);
    text-shadow: 2px 2px #a0712b;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}   
.lowerbody{
    width: 100%;
}
.calculation{
    height: 20rem;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3rem;
}


footer {
    background-color: black;
}
.main-footer{
    display: flex;
    gap: 5px;
    flex-direction: row;
    margin-top: 3rem;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.main-foot{
    width: 120px;
    height: 100px;
    background-color: white;
    border-radius: 15px;
    margin: 0.5rem;
    padding: 0.5rem;
    position: relative;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.copyright-band{
    display: flex;
    color: rgb(210, 207, 207);
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
}
.copyright-band span{
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;

}
.minilogos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;
}
.foot-info{
    display: flex;
    color: wheat;
    font-size: 0.8rem;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.foot-box{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 0;
}
a{
    color: white;
    text-decoration: none;
}
.foot-img-text{
    display: flex;
    align-items: center;
}

