*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    color: rgb(11, 11, 12);
    background: linear-gradient(180deg, #005eff6c, #fe00b24d);
    background-repeat: no-repeat;
}
.wrapper{
    max-width: 470px;
    margin: auto;
    font-family: sans-serif;
    overflow: hidden;
}
header{
    height: 5rem;
    position: relative;
}
nav{

    padding: 1rem;
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 12px;
}
.signIn{
    background: #312e3b;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;

}
button:hover {
  opacity: 0.9;
  transform: scale(1.1);

  
}
button{
    font-weight: 600;
    transition: transform 0.3s ease, opacity 0.3s ease;

}
.text{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.text :nth-child(1){
    font-weight: bold;
    font-size: 1.8rem;
}
.calc-text :nth-child(1){
    font-weight: 600;
    font-size: 0.9rem;
}
.calc-text{
    display: flex;
}
.main-body{
    width: 100%;
    padding-top: 3rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}
.main-body-intro{
    color: #232323e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    
}
.main-body-intro :nth-child(1){
    padding: 0.6rem;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
}
.main-body-intro :nth-child(2){
    font-size: .8rem;
    text-align: center;
    font-weight: bold;
}
.main-body-shapeopt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    
} 
main{
    padding-bottom: 4rem;
}
.twoD-shape{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 2rem;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: linear-gradient(135deg, #A8D8FF, #6BB8FF);
    flex-direction: column;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);

}
.threeD-shape{
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: linear-gradient(135deg, #F7A8E8, #CB8CFF);
    flex-direction: column;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.171);

}
.twoD-shape:hover{
    box-shadow: 0 0 25px rgba(18, 47, 59, 0.413);
    opacity: 0.9;
    transform: scale(1.1);            
}
.threeD-shape:hover{
    box-shadow: 0 0 25px rgba(82, 18, 65, 0.45);
    opacity: 0.9;
    transform: scale(1.1);
}

.twoD-body-text{
    display: flex;
    color: rgb(9, 30, 40);
}
.threeD-body-text{
    display: flex;
    color: rgb(33, 29, 36);

}
.D-shape-text{
    font-size: 2rem;
    font-weight: 700;
}
.logos{
  margin-bottom: 0.3rem;
  width: 54px;
  height: 54px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
footer {
    background-color: black;
}
.main-footer{
    display: flex;
    gap: 5px;
    flex-direction: row;
    margin-top: 3rem;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.main-foot{
    width: 120px;
    height: 100px;
    background-color: white;
    border-radius: 15px;
    margin: 0.5rem;
    padding: 0.5rem;
    position: relative;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.copyright-band{
    display: flex;
    color: rgb(210, 207, 207);
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
}
.copyright-band span{
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;

}
.minilogos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;
}
.foot-info{
    display: flex;
    color: wheat;
    font-size: 0.8rem;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}


   



